basePath: /
definitions:
  audio.AudioMetadata:
    properties:
      bit_depth:
        type: integer
      bitrate_kbps:
        type: integer
      channels:
        type: integer
      codec:
        type: string
      duration_seconds:
        type: number
      format:
        type: string
      original_size_bytes:
        type: integer
      sample_rate:
        type: integer
    type: object
  main.ErrorResponse:
    properties:
      error:
        type: string
    type: object
  main.HealthResponse:
    properties:
      status:
        type: string
    type: object
  main.MemStats:
    properties:
      allocated_mb:
        type: number
      gc_cycles:
        type: integer
      gc_pause_micros:
        type: integer
      heap_in_use_mb:
        type: number
      stack_in_use_mb:
        type: number
      system_mb:
        type: number
      total_alloc_mb:
        type: number
    type: object
  main.SegmentInfo:
    properties:
      end_time:
        type: number
      start_time:
        type: number
      text:
        type: string
      tokens:
        items:
          $ref: '#/definitions/main.TokenInfo'
        type: array
    type: object
  main.TokenInfo:
    properties:
      end_time:
        type: number
      probability:
        type: number
      start_time:
        type: number
      text:
        type: string
    type: object
  main.TranscriptionResponse:
    properties:
      audio_info:
        allOf:
        - $ref: '#/definitions/audio.AudioMetadata'
        description: Updated to use audio package type
      compute_time:
        properties:
          cpu_time_seconds:
            type: number
          gpu_time_seconds:
            type: number
        type: object
      confidence:
        type: number
      duration_seconds:
        type: number
      memory_usage:
        $ref: '#/definitions/main.MemStats'
      processing_time_seconds:
        type: number
      segments:
        items:
          $ref: '#/definitions/main.SegmentInfo'
        type: array
      text:
        type: string
      timestamp:
        type: string
    type: object
host: api.openradiomap.com
info:
  contact:
    email: darcy@dbitech.ca
    name: Darcy Buskermolen
  description: A self-hosted voice-to-text transcription service using Whisper AI.
    Supports WAV, MP3, OGG (Vorbis), and Opus formats.
  license:
    name: BSD-3-Clause
    url: https://github.com/VA7DBI/whisperAPI/blob/main/LICENSE
  termsOfService: http://openradiomap.com/tos/
  title: Whisper API Service
  version: "1.1"
paths:
  /health:
    get:
      description: Get API health status
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.HealthResponse'
      summary: Health check endpoint
      tags:
      - health
  /transcribe:
    post:
      consumes:
      - multipart/form-data
      description: Converts audio file to text using Whisper AI model. Supports WAV,
        MP3, OGG (Vorbis), and Opus formats.
      parameters:
      - description: Audio file to transcribe (WAV, MP3, OGG Vorbis, or Opus format)
        in: formData
        name: audio
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: Successful transcription with metadata
          schema:
            $ref: '#/definitions/main.TranscriptionResponse'
        "400":
          description: Invalid request (missing file, file too large)
          schema:
            $ref: '#/definitions/main.ErrorResponse'
        "401":
          description: Unauthorized (invalid or missing API key)
          schema:
            $ref: '#/definitions/main.ErrorResponse'
        "500":
          description: Server error during processing
          schema:
            $ref: '#/definitions/main.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Transcribe audio to text
      tags:
      - transcription
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: X-API-Key
    type: apiKey
swagger: "2.0"
